<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.health.mine">

    <application
        android:name="com.healthy.library.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LibAppTheme">
        <activity
            android:name=".VipBankcardDelActivity"
            android:exported="false" />
        <activity
            android:name=".VipAddBankActivity"
            android:exported="false" />
        <activity
            android:name=".VipIdentityCheckActivity"
            android:exported="false" />
        <activity
            android:name=".VipTakeOutResultActivity"
            android:exported="false" />
        <activity
            android:name=".VipTakeOutProfitActivity"
            android:exported="false" />
        <activity
            android:name=".VipProfitActivity"
            android:exported="false" />
        <activity
            android:name=".BankcardManageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VipCardBalanceLogsActivity"
            android:exported="false" />
        <activity android:name="com.health.discount.activity.NewUserGiftActivity" />
        <activity android:name=".activity.AwardCenterActivity" />
        <activity android:name=".activity.EnlistSignOffActivity" />
        <activity android:name=".activity.EnListDetailsActivity" />
        <activity android:name=".activity.EnlistActivity" />
        <activity android:name=".activity.VipDepositDetialActivity" />
        <activity android:name=".activity.UpdateUserInfoActivity" />
        <activity android:name=".activity.VipCardBalanceListActivity" />
        <activity android:name=".activity.ConsumeHistoryActivity" />
        <activity android:name=".activity.VipIntegralActivity" />
        <activity android:name=".activity.VipCardBalanceActivity" />
        <activity android:name=".activity.HanMonActivity" />
        <activity android:name=".activity.OrderSubHistoryListActivity" />
        <activity
            android:name=".activity.ServiceDetailActivity"
            android:theme="@style/MineServiceDetailTheme" />
        <activity android:name=".activity.ServiceRecordActivity" />
        <activity android:name=".activity.InServiceActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.EvaluateActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.CollectionsActivity" />
        <activity android:name=".activity.PersonalInfoDetailActivity" />
        <activity android:name=".activity.FeedbackActivity" />
    </application>

</manifest>