<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.health.index">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.healthy.library.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LibAppTheme">
        <activity
            android:name=".activity.MonthlyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HealthTestResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HealthTestOptionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HealthTestMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IndexToolsMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivityArticle"
            android:exported="false" />
        <activity
            android:name=".activity.IndexBabyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IndexSearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IndexSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HanMomVideoPlayerActivity"
            android:exported="false" />
        <activity android:name=".activity.HanmomTeachingDetailActivity" />
        <activity android:name=".activity.HanMomVideoDetailActivity" />
        <activity android:name=".activity.HanMomVideoActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.TipsActivity" />
        <activity android:name=".activity.BabyMomChangeActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity
            android:name=".activity.VaccineListActivity"
            android:theme="@style/IndexVaccineTheme" />
        <activity android:name=".activity.BirthPackageActivity" />
        <activity
            android:name=".activity.BirthCheckListActivity"
            android:theme="@style/IndexVaccineTheme" />
        <activity
            android:name=".activity.AnalyzeActivity"
            android:theme="@style/TranslucentLight" />
    </application>

</manifest>